body{
background-image:url("Background.png") ;
background-repeat: no-repeat;
font-family: 'Arima Madurai', cursive;
background-size: cover;
}
.carousel-item{
    height: 48rem;
    background-color:#e6f2ff;
    position: relative;
    border: 2px;
}



header .first-item{
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

.carousel-indicators [data-bs-target]{
    background-color: #131acf;;
}

.main{
    margin: 0;
}
.container{
    width: 100%;
    
}
main >.row{
    margin: 10px;
    width: 100%;
    background-color: #d0e1e180;
    border-radius: 25px;

}

.card{
    margin: 5px;
    border: solid 1px #555;
}

.container .col-12{
    background-color:   #668cff;
    border-radius: 25px;
    color:  #0033cc;
    border: solid 1px #555;
    box-shadow: 10px -10px 5px  rgba(0,0,0,0.2);
    -moz-box-shadow: 10px -10px 5px  rgba(0,0,0,0.2);
    -webkit-box-shadow: 10px -10px 5px  rgba(0,0,0,0.2);
    -o-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
    border-radius:25px;

}

.blockquote-footer{
    color: #e6ffff;
    font-size: 16px;

}


.section{
    height: 46.5rem;
}

.row > figure {
    background-color: #6675ff;
    margin-top: 20px;
    border: solid 1px #555;
    box-shadow: 10px -10px 5px  rgba(0,0,0,0.2);
    -moz-box-shadow: 10px -10px 5px  rgba(0,0,0,0.2);
    -webkit-box-shadow: 10px -10px 5px  rgba(0,0,0,0.2);
    -o-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
    border-radius:25px;
  }


header .col-3{
    border-radius: 25px;
    margin: 10px;
    height: 45rem; 
    text-align: center;
    background-color:  #e6e5e5    ;
}