body{
background-image:url("Background.png") ;
background-repeat: no-repeat;
}
.carousel-item{
    height: 20rem;
    background-color:#e6f2ff;
    position: relative;
    border: 2px;
}

header .container{
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

.carousel-indicators [data-bs-target]{
    background-color: #131acf;;
}

.main{
    margin: 0;
}
.container{
    width: 100%;
}
.row{
    margin: 10px;
    width: 100%;
    background-color: #d0e1e180;
}

.card{
    margin: 5px;
}



